.title{
    margin-top: -5px;
    margin-left: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    color: #3b3b3b;
  
  }

  .title2{
    margin-top: -5px;
    margin-left: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    color: #3b3b3b;
  
  }

  .num{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: #3b3b3b;
  
  }

  .border{
    background-color: rgb(255, 255, 255);
    width: 400px;
    border: 1px solid rgb(161, 161, 161);
    padding: 20px;
    margin: 1px;
  }


  .borderLine{
    border-bottom: 1px solid rgb(197, 192, 192);
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
  }

  .title3{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: #3b3b3b;

  
  }

  .title4{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 17px;
  color: #3b3b3b;


}