<div fxLayoutGap="32px" fxLayout="column">
  <app-header pageTitle="Order Tracking"></app-header>





  <div fxLayout="column">
        <h2 > My Orders / Tracking </h2>
        <mat-divider></mat-divider>
        <div class="card-body">
            <h6>Order ID: OD45345345435</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Estimated Delivery time:</strong> <br> </div>
                    <div class="col"> <strong>Shipping BY:</strong> <br>  </div>
                    <div class="col"> <strong>Status:</strong> <br> </div>
                    <div class="col"> <strong>Tracking #:</strong> <br>  </div>
                </div>
            </article>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Order Delivered</span> </div>
            </div>
            <mat-divider></mat-divider>
            <mat-card *ngFor="let data of items" fxLayout="column wrap" fxLayoutAlign="flex-start" fxLayoutGap="10px">
                <mat-card fxFlex="50%" fxLayout="row wrap" style="margin-top:10%; height: 200px; width: 80%;">
                
                    <div fxLayoutAlign="center center" fxLayout="column"fxLayoutGap ="1px" fxFlex=80%>
                        <img style="width:80px;height:60px; margin-top: 10px;" [src]=data.imageUrl>
                        <div class="p4">{{data.name}}</div>
                        <div class="p3">RM:{{data.price}}</div>
                        
                        <ngb-rating class="star"  [max]="5" [(rate)]="data.rating" [readonly]="false"></ngb-rating>
                    <form #addReview="ngForm" (ngSubmit)="setData(addReview.value,data);" novalidate>                   
                             <mat-form-field  style="width: 900px;" appearance="outline">
                            <mat-label>Write your review here</mat-label>
                            <input matInput placeholder="Product Review" name="review" id="review" ngModel required >
                        </mat-form-field>
                        <button type="submit" mat-raised-button [disabled]="!addReview.form.valid"color="primary">Submit</button>

                    </form>    
                    </div>

                </mat-card >
                
    

                
            </mat-card>
            <a href="#" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
        </div>
  </div>

</div>


