
<body *ngIf="toggleField=='main'">
<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Purchase List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li style="cursor:pointer" class="list-group-item"  *ngFor="let data of items;" (click)="toggle('detail');showDetails(data)" >
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">{{data.name}}</h5>
                            <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">${{data.price}}</h6>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul>
                            </div>
                        </div><img [src]=data.imageUrl alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                
            </ul> <!-- End -->
        </div>
    </div>
</div>
</body>

<ng-container *ngIf="(toggleField=='detail')">

    <div fxLayout="column" class="card-body">
        <h6 style="margin-top: 50px;">Order ID: OD45345345435</h6>
        <article class="card">
            <div class="card-body row">
                <div class="col"> <strong>Estimated Delivery time:</strong> <br> </div>
                <div class="col"> <strong>Shipping BY:</strong> <br>  </div>
                <div class="col"> <strong>Status:</strong> <br> </div>
                <div class="col"> <strong>Tracking #:</strong> <br>  </div>
            </div>
        </article>
        <div class="track">
            <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
            <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
            <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
            <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Order Delivered</span> </div>
        </div>
        <mat-divider></mat-divider>


        <div  fxLayout="column" fxLayoutAlign="flex-start">
            <img style="width:700px;height:550px; margin-top: 10px;" [src]=myDocData.imageUrl>
            <div style="margin-left:0px ;">
              <h3 class="size">{{myDocData.category}}</h3>
              <h2 class ="font1">{{myDocData.name}}</h2>
              <div class="borderLine"></div>

              <h2 class="title2">Total:RM:{{myDocData.Total}}</h2>
              <div class="borderLine"></div>

              <h2 class="title">Product Description</h2> 
              <p class="des">{{myDocData.descr}}</p>  
              <div style="height:400px;"></div>
              <div class="borderLine"></div>
              <h2 class="title" >Delivery Term</h2>
              <p class="des">I will send out your product once order is confirmed.</p>
              <p class="des"> The product is expected to reach you in 4-7 working days.</p> 
              <div  class="borderLine"></div>
              <h2 class="tittle">Ratings & Reviews </h2>
     
              <ngb-rating class="star"  [max]="5" [(rate)]="myDocData.rating" [readonly]="false"></ngb-rating>
              <form #addReview="ngForm" (ngSubmit)="setData(addReview.value,data);" novalidate>                   
                       <mat-form-field  style="width: 900px;" appearance="outline">
                      <mat-label>Write your review here</mat-label>
                      <input matInput placeholder="Product Review" name="review" id="review" ngModel required >
                  </mat-form-field>
                  <button type="submit" mat-raised-button [disabled]="!addReview.form.valid"color="primary">Submit</button>

              </form>    
  
            </div>
  
          </div>

        </div>

</ng-container>

<!-----
<div  fxLayout="column">
  <app-header pageTitle="Order Tracking"></app-header>




    <div fxLayout="row">
        <div fxFlex="20%"></div>
        <div fxFlex="60%" style="background-color:rgb(231, 235, 228) ; height: 100px; width: 100%; border-radius: 30px;" fxLayout="column" fxLayoutGap="32px">
            <h2 style="margin-top: 20px;" fxLayoutAlign="center start">Your Orders </h2>
            <ng-container *ngIf="(toggleField=='main')">
            <div  style = "cursor: pointer;" class="border"  fxLayoutAlign="flex-center" fxLayout="row" *ngFor="let data of items;"  (click)="toggle('detail');showDetails(data)" >
                <div fxLayoutAlign="center center" fxFlex=40%>
                    <img style="width:80px;height:70px;" [src]=data.imageUrl>
                 </div>
                 <div fxLayoutGap ="1px" fxFlex=40%>
                    <h4 class="p5">Product:{{data.name}}</h4>
                    <h4 class="p5">RM:{{data.price}}</h4>
                    <h4 class="p5">Quantity:{{data.qty}}</h4>
                    <h4 class="p5" *ngIf="(data.status=='Pending')" style="color: rgb(255, 196, 0);">Status:{{data.status}}</h4>
                    <h4 class="p5" *ngIf="(data.status=='Successful')" style="color: rgb(89, 233, 5);">Status:{{data.status}}</h4>
                    <h4 class="p5" *ngIf="(data.status=='Rejected')" style="color: rgb(235, 11, 11);">Status:{{data.status}}</h4>


                </div>
                <div fxLayoutAlign="center center " fxFlex=20%>

                    <button mat-raised-button (click)="deleteProd(data._id)" >Remove</button>
                    <button mat-raised-button color ="primary" (click)="getDoc(data._id)" >Edit</button>
                </div>

        
            </div>
        </ng-container>
        <ng-container *ngIf="(toggleField=='detail')">

            <div fxLayout="column" class="card-body">
                <h6 style="margin-top: 50px;">Order ID: OD45345345435</h6>
                <article class="card">
                    <div class="card-body row">
                        <div class="col"> <strong>Estimated Delivery time:</strong> <br> </div>
                        <div class="col"> <strong>Shipping BY:</strong> <br>  </div>
                        <div class="col"> <strong>Status:</strong> <br> </div>
                        <div class="col"> <strong>Tracking #:</strong> <br>  </div>
                    </div>
                </article>
                <div class="track">
                    <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                    <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                    <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                    <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Order Delivered</span> </div>
                </div>
                <mat-divider></mat-divider>


                <div  fxLayout="column" fxLayoutAlign="flex-start">
                    <img style="width:700px;height:550px; margin-top: 10px;" [src]=myDocData.imageUrl>
                    <div style="margin-left:0px ;">
                      <h3 class="size">{{myDocData.category}}</h3>
                      <h2 class ="font1">{{myDocData.name}}</h2>
                      <div class="borderLine"></div>

                      <h2 class="title2">Total:RM:{{myDocData.Total}}</h2>
                      <div class="borderLine"></div>

                      <h2 class="title">Product Description</h2> 
                      <p class="des">{{myDocData.descr}}</p>  
                      <div style="height:400px;"></div>
                      <div class="borderLine"></div>
                      <h2 class="title" >Delivery Term</h2>
                      <p class="des">I will send out your product once order is confirmed.</p>
                      <p class="des"> The product is expected to reach you in 4-7 working days.</p> 
                      <div  class="borderLine"></div>
                      <h2 class="tittle">Ratings & Reviews </h2>
             
                      <ngb-rating class="star"  [max]="5" [(rate)]="myDocData.rating" [readonly]="false"></ngb-rating>
                      <form #addReview="ngForm" (ngSubmit)="setData(addReview.value,data);" novalidate>                   
                               <mat-form-field  style="width: 900px;" appearance="outline">
                              <mat-label>Write your review here</mat-label>
                              <input matInput placeholder="Product Review" name="review" id="review" ngModel required >
                          </mat-form-field>
                          <button type="submit" mat-raised-button [disabled]="!addReview.form.valid"color="primary">Submit</button>
  
                      </form>    
          
                    </div>
          
                  </div>

                </div>

        </ng-container>
        </div>
        
        <div fxFlex="20%"></div>

 


    </div>
-->
<!--
  <div fxLayout="column">
        <h2 > My Orders / Tracking </h2>
        <mat-divider></mat-divider>
        <div class="card-body">
            <h6>Order ID: OD45345345435</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Estimated Delivery time:</strong> <br> </div>
                    <div class="col"> <strong>Shipping BY:</strong> <br>  </div>
                    <div class="col"> <strong>Status:</strong> <br> </div>
                    <div class="col"> <strong>Tracking #:</strong> <br>  </div>
                </div>
            </article>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Order Delivered</span> </div>
            </div>
            <mat-divider></mat-divider>
            <mat-card *ngFor="let data of items" fxLayout="column wrap" fxLayoutAlign="flex-start" fxLayoutGap="10px">
                <mat-card fxFlex="50%" fxLayout="row wrap" style="margin-top:10%; height: 200px; width: 80%;">
                
                    <div fxLayoutAlign="center center" fxLayout="column"fxLayoutGap ="1px" fxFlex=80%>
                        <img style="width:80px;height:60px; margin-top: 10px;" [src]=data.imageUrl>
                        <div class="p4">{{data.name}}</div>
                        <div class="p3">RM:{{data.price}}</div>
                        
                        <ngb-rating class="star"  [max]="5" [(rate)]="data.rating" [readonly]="false"></ngb-rating>
                    <form #addReview="ngForm" (ngSubmit)="setData(addReview.value,data);" novalidate>                   
                             <mat-form-field  style="width: 900px;" appearance="outline">
                            <mat-label>Write your review here</mat-label>
                            <input matInput placeholder="Product Review" name="review" id="review" ngModel required >
                        </mat-form-field>
                        <button type="submit" mat-raised-button [disabled]="!addReview.form.valid"color="primary">Submit</button>

                    </form>    
                    </div>

                </mat-card >
                
    

                
            </mat-card>
            <a href="#" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
        </div>
  </div>
-->


