
  
    <div fxLayout="row">
        <div fxFlex="20%"></div>
        <div fxFlex="60%" style="background-color:rgb(231, 235, 228) ;  border-radius: 30px;" fxLayout="column" fxLayoutGap="32px">
            <h2 style="margin-top: 20px;" fxLayoutAlign="center start">Abandoned Carts</h2>
            <div  style = "cursor: pointer; width: 100%;" class="border"  fxLayoutAlign="flex-center" fxLayout="row" *ngFor="let data of members;"  (click)=" alertUser(showUser);" >
                <div fxLayoutAlign="center center" fxFlex=40%>
                    <img style="width:80px;height:70px;" [src]=data.imageUrl>
                 </div>
                 <div fxLayoutGap ="1px" fxFlex=40%>
                    <h4 class="p5">Product:{{data.name}}</h4>
                    <h4 class="p5">RM:{{data.price}}</h4>
                    <h4 class="p5">Quantity:{{data.qty}}</h4>



                </div>
                <ng-template #showUser>
                    <h2 matDialogTitle>User Information</h2>
                    <mat-dialog-content>
                       <p2> Name: {{data.customerName}}</p2>
                       <br>
                       <p2> Username: {{data.customerEmail}}</p2>
                       <br>
                       <p2> Date: {{data.createdAt.seconds*1000  | date:'medium'  }}</p2>
                       <br>

                    </mat-dialog-content>
                    <mat-dialog-actions align="end">
                      <button mat-button matDialogClose color="primary">Dismiss</button>
                    </mat-dialog-actions>
                  </ng-template>
        
            </div>
      
        </div>
        
        <div fxFlex="20%"></div>

 


    </div>
