<div class="dis" style="background-color: rgba(243, 221, 221, 0.829)  ; width: 600px;" fxLayoutAlign="center center" >

   
    <div  class="border" fxFlex="70%" style="height: 100%;"fxLayout="column wrap" >
    <h2 fxLayoutAlign="center center" class="font"> Wish List</h2>
    <div class="borderLine"></div>

    <div fxLayoutAlign="flex-start" fxLayout="row wrap"  *ngFor="let data of members ">
    <button class="border2" fxLayoutAlign="center center" style = "cursor: pointer; height:200px; width: 160px;" fxFlex="70%" fxLayout="column wrap" (click)="product('product',data._id)" >
              
        <div fxLayoutAlign="center center" fxFlex=50%>
         <img style="width:50px;height:60px;" [src]=data.imageUrl>
       </div>
      <div fxLayoutAlign="center center" fxLayout="column"fxLayoutGap ="1px" fxFlex=50%>
        <div class="p4">{{data.name}}</div>
        <div class="p3">RM:{{data.price}}</div>
      </div>
     </button>
     <div fxFlex="30%" fxLayoutAlign="center center">
       <button  mat-icon-button (click)="deleteCart(data._id)"  >
         <mat-icon>delete</mat-icon> </button>
     </div>

     <div class="borderLine"></div>

    </div>



  </div>


  </div>