<mat-toolbar fxLayout="row"  >
  <button   fxLayoutAlign="center center" mat-mini-fab color="blue" [matMenuTriggerFor]="navMenu">
    <mat-icon>dashboard</mat-icon>
  </button>



  <span class ="example-icon">
  <h3 >
  {{pageTitle}}
</h3>
</span>
<mat-icon [color]="userStatusColor" routerLink="/product">shop</mat-icon>
<span fxFlex="90%"class ="example-spacer"  class ="example-icon" fxLayout="row" fxLayoutAlign= "end center">

<button   fxLayoutAlign="center center" mat-mini-fab color="blue" [matMenuTriggerFor]="Account" yPosition="below"   >
  <mat-icon  >account_box</mat-icon>
</button>
</span>
<mat-icon  matBadge="{{counter}}" matBadgePosition="before" matBadgeColor="accent">shopping_cart</mat-icon>

 <button nat-menu-item routerLink="/admin"> <mat-icon  class ="example-spacer" fxLayoutAlign="end center " >settings</mat-icon></button>
</mat-toolbar>



<mat-menu fxLayout="row" #navMenu="matMenu">
  <button mat-menu-item (click)="link('home')">Home</button>
  <button mat-menu-item>Profile</button>
  <button mat-menu-item (click)="link('aboutus')"> About us</button>
  <button mat-menu-item (click)="link('merchant')"> Merchant</button>
  <button mat-menu-item>Contact</button>
  <button mat-menu-item (click)="Logout()">Log Out</button>
</mat-menu>




<mat-menu fxLayout="row" #Account="matMenu">
  <button mat-menu-item (click)="link('login')">log In</button>
</mat-menu>
