
.example-icon{
  margin-left: 20px;
  margin-right: 20px;

}

.example-spacer{

  flex: 1 1 auto;
}




.font{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  color: #363636;
  margin-top: 2px;

}


.font2{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
  color: #5a5a5a;
  margin-top: 1px;
  margin-left: 25px;

}

.font3{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
  color: #5a5a5a;
  margin-top: 20px;

}


.borderLine{
  border-bottom: 1px solid rgb(211, 209, 209);
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 20px;

}


.border{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 800px;
  border: 1px solid rgb(160, 160, 160);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

 
.border2{
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 800px;
  border: 1px solid rgb(160, 160, 160);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #525252;  
  font-size: 18px;
}

.p4 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #292929;
  font-size: 18px;
}

.dis{

  display: flex;
  flex-direction: column;
}

.md-dialog-container {
  background-color: #000;
  width: 500px;
  height: 850px
}
