

  <div  style=" width: 350px; height: 2000px;background-color: rgb(250, 255, 255);">
  
  <mat-card fxLayoutGap="100px"  style=" height:600px;" >
    <h2> Your Cart</h2>
    <br>
    <br>
    <div class="line"></div>

    <div fxLayout="row" *ngFor="let data of carts"  >

      <img fxFlex="40%" style="width:80px;height:60px; margin-top: 10px;" [src]=data.imageUrl>
      <div fxLayoutAlign="center center" fxFlex="40%" fxLayout="column">
        <h2 class="p4">{{data.name}}</h2>
        <h3 class="p3">RM:{{data.price}}</h3>
      </div>
      <div fxLayoutAlign="flex-end" fxFlex="20%" fxLayout="row">
        <button  mat-icon-button (click)="deleteCart(data._id)"  ><mat-icon>delete</mat-icon> </button>
      </div>

    </div>
    <button  [disabled]="counter < 1" (click)="checkOut('checkout')" mat-raised-button color ="primary">Check Out</button>      
  </mat-card>
  
  </div>

<!---
<div fxFlex="100%" fxLayout="column">
  <app-header pageTitle="Your Cart"></app-header>
  <mat-divider></mat-divider>
  <h1>Your Carts</h1>
  <mat-divider></mat-divider>

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="80%"   *ngIf="toggle ; else showProductDetails" >
    <mat-card fxLayoutAlign="flex-center" fxLayout="row "  fxFlex="60%"  *ngFor="let data of carts"  >
      <div fxLayoutAlign="center center" fxFlex=40%>
          <img style="width:180px;height:130px;" [src]=data.imageUrl>
       </div>
       <div fxLayoutGap ="1px" fxFlex=40%>
          <h4 class="p3">Product:{{data.name}}</h4>
          <h4 class="p3">RM:{{data.price}}</h4>
          <h4 class="p3">Quantity:{{data.qty}}</h4>
          <h4 class="p3">Category:{{data.category}}</h4>
      </div>
      <div fxLayoutAlign="center center " fxFlex=20%>
        <button mat-raised-button (click)="deleteCart(data._id)" >Remove</button>
      </div>
      <mat-divider></mat-divider>


</mat-card>

</div>
<div fxLayoutAlign="row wrap" fxLayoutAlign ="center center" fxFLex="w0%">
  <button  *ngIf="toggle" fxLayoutAlign="center center" style=" margin-top:10px;height: 50px; width: 80px;" mat-raised-button color ="primary" (click)="showDetails(data);toggle=!toggle">Check Out</button>
  </div>

  <ng-template #showProductDetails>
    <button mat-flat-button color="primary" (click)="Back()">Go Back</button>

    <div fxFlex="100%" fxLayoytAlign="center center">
      <mat-card>
        <img src="assets/img/coat-01.jpeg">
            <h4>{{myDocData.name}}</h4>
            <h5>RM:{{myDocData.price}}</h5>
            <h5>Color:{{myDocData.color}}</h5>
            <h5>Size:{{myDocData.size}}</h5>
            <h5>Shpping:{{myDocData.shipping}}</h5>
            <h5>Discount:{{myDocData.discount}}</h5>
            <h5>Details:{{myDocData.descr}}</h5>


            <mat-error *ngIf="savedChanges">
              <br/>
              <br/> Successfully purchased.
              <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
              <span class="med-spacer"></span>
              <br/>
          </mat-error>
          <br/>
          <mat-icon (click)="countProd('remove')" color="primary">remove</mat-icon>
          {{ counter }}
          <mat-icon (click)="countProd('add')" color="primary">add</mat-icon>
     
          <br/>
      <button mat-raised-button >Cancel</button>
      <button  [disabled]="counter < 1" (click)="purchaseProd(myDocData, counter)" mat-raised-button color ="primary">Purchase</button>      
    </mat-card>
  </div>

    </ng-template>
 
</div>
-->

<!--
<div style="width: 100px;"   fxFlex="100%" fxLayout="column" >
  <app-header></app-header>
  
  <section class="products">    
    <div class="product-card">
      <div  *ngIf="toggle ; else showProductDetails" fxFlex="50%" class="product-image">
        <mat-card>
        <div  style="margin-top: 50px; width: 300px;" *ngFor="let data of carts" class="product-info" >
          <mat-card id="example2" style="width: 300px;">
          <h4>{{data.name}}</h4>
          <h5>{{data.price}}</h5>
          <button mat-raised-button (click)="deleteCart(data)" >Remove</button>
         
          <button mat-raised-button color ="primary" (click)="showDetails(data);toggle=!toggle">Buy</button>
        </mat-card>
        </div>
        <mat-error *ngIf="savedChanges">
          <br/>
          <br/> Successfully purchased.
          <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
          <span class="med-spacer"></span>
          <br/>
      </mat-error>
      </mat-card>
    </div>

      <ng-template #showProductDetails>

      <div fxFlex="100%" fxLayoytAlign="center center">
        <mat-card>
          <img src="assets/img/coat-01.jpeg">
              <h4>{{myDocData.name}}</h4>
              <h5>RM:{{myDocData.price}}</h5>
              <h5>Color:{{myDocData.color}}</h5>
              <h5>Size:{{myDocData.size}}</h5>
              <h5>Shpping:{{myDocData.shipping}}</h5>
              <h5>Discount:{{myDocData.discount}}</h5>
              <h5>Details:{{myDocData.descr}}</h5>


              <mat-error *ngIf="savedChanges">
                <br/>
                <br/> Successfully purchased.
                <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
                <span class="med-spacer"></span>
                <br/>
            </mat-error>
            <br/>
            <mat-icon (click)="countProd('remove')" color="primary">remove</mat-icon>
            {{ counter }}
            <mat-icon (click)="countProd('add')" color="primary">add</mat-icon>
       
            <br/>
        <button mat-raised-button >Cancel</button>
        <button  [disabled]="counter < 1" (click)="purchaseProd(myDocData, counter)" mat-raised-button color ="primary">Purchase</button>      
      </mat-card>
    </div>

      </ng-template>
   






    </div>
  </section>

    </div>

-->