
<app-header></app-header>
<div class="container px-4 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
      <div class="col-5">
          <h4 class="heading">Shopping Cart</h4>
      </div>
      <div class="col-7">
          <div class="row text-right">
              <div class="col-4">
                  <h6 class="mt-2">Delete</h6>
              </div>
              <div class="col-4">
                  <h6 class="mt-2">Quantity</h6>
              </div>
              <div class="col-4">
                  <h6 class="mt-2">Price</h6>
              </div>
          </div>
      </div>
  </div>
  <div class="row d-flex justify-content-center border-top"  *ngFor="let data of carts" >
      <div class="col-5">
          <div class="row d-flex">
              <div class="book"> <img [src]="data.imageUrl" class="book-img"> </div>
              <div class="my-auto flex-column d-flex pad-left">
                  <h6 class="mob-text">{{data.name}}</h6>
                  <p class="mob-text">{{data.shortDes}}</p>
              </div>
          </div>
      </div>
      <div class="my-auto col-7">
          <div class="row text-right">
              <div class="col-4">
                <button  mat-icon-button (click)="deleteCart(data._id)"  ><mat-icon>delete</mat-icon> </button>
              </div>
              <div class="col-4">
                  <div class="row d-flex justify-content-end px-3">
                      <p class="mb-0" id="cnt1">{{data.qty}}</p>
                      <div class="d-flex flex-column plus-minus"> <span (click)="countProd('add',data)" class="vsm-text plus">+</span> <span (click)="countProd('remove',data)" class="vsm-text minus">-</span> </div>
                  </div>
              </div>
              <div class="col-4">
                  <h6 class="mob-text">${{data.price*data.qty}}</h6>
              </div>
          </div>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-lg-12">
          <div class="card">
              <div class="row">
                  <div class="col-lg-3 radio-group">
                      <div class="row d-flex px-3 radio"> <img class="pay" src="https://i.imgur.com/WIAP9Ku.jpg">
                          <p class="my-auto">Credit Card</p>
                      </div>
                      <div class="row d-flex px-3 radio gray"> <img class="pay" src="https://i.imgur.com/OdxcctP.jpg">
                          <p class="my-auto">Debit Card</p>
                      </div>
                      <div class="row d-flex px-3 radio gray mb-3"> <img class="pay" src="https://i.imgur.com/cMk1MtK.jpg">
                          <p class="my-auto">PayPal</p>
                      </div>
                  </div>
                  <div class="col-lg-5">
                      <div class="row px-2">
                          <div class="form-group col-md-6"> <label class="form-control-label">Name on Card</label> <input type="text" id="cname" name="cname" placeholder="Johnny Doe"> </div>
                          <div class="form-group col-md-6"> <label class="form-control-label">Card Number</label> <input type="text" id="cnum" name="cnum" placeholder="1111 2222 3333 4444"> </div>
                      </div>
                      <div class="row px-2">
                          <div class="form-group col-md-6"> <label class="form-control-label">Expiration Date</label> <input type="text" id="exp" name="exp" placeholder="MM/YYYY"> </div>
                          <div class="form-group col-md-6"> <label class="form-control-label">CVV</label> <input type="text" id="cvv" name="cvv" placeholder="***"> </div>
                      </div>
                  </div>
                  <div class="col-lg-4 mt-2">
                      <div class="row d-flex justify-content-between px-4">
                          <p class="mb-1 text-left">Subtotal</p>
                          <h6 class="mb-1 text-right">${{total}}</h6>
                      </div>
                      <div class="row d-flex justify-content-between px-4">
                          <p class="mb-1 text-left">Shipping</p>
                          <h6 class="mb-1 text-right">$5</h6>
                      </div>
                      <div class="row d-flex justify-content-between px-4" id="tax">
                          <p class="mb-1 text-left">Total (tax included)</p>
                          <h6 class="mb-1 text-right">${{total+5}}</h6>
                      </div> <button (click)="cartUpdate(myDocData,counter); checkOut('checkout');" class="btn-block btn-blue"> <span> <span  >Checkout</span> <span id="check-amt">${{total+5}}</span> </span> </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  <!---
  <div  style=" width: 350px; height: 2000px;background-color: rgb(250, 255, 255);">
  
  <mat-card fxLayoutGap="100px"  style=" height:600px;" >
    <h2> Your Cart</h2>
    <br>
    <br>
    <div class="line"></div>

    <div fxLayout="row" *ngFor="let data of carts"  >

      <img fxFlex="40%" style="width:80px;height:60px; margin-top: 10px;" [src]=data.imageUrl>
      <div fxLayoutAlign="center center" fxFlex="40%" fxLayout="column">
        <h2 class="p4">{{data.name}}</h2>
        <h3 class="p3">RM:{{data.price}}</h3>
      </div>
      <div fxLayoutAlign="flex-end" fxFlex="20%" fxLayout="row">
        <button  mat-icon-button (click)="deleteCart(data._id)"  ><mat-icon>delete</mat-icon> </button>
      </div>

    </div>
    <button  [disabled]="counter < 1" (click)="checkOut('checkout')" mat-raised-button color ="primary">Check Out</button>      
  </mat-card>
  
  </div>
-->
<!---
<div fxFlex="100%" fxLayout="column">
  <app-header pageTitle="Your Cart"></app-header>
  <mat-divider></mat-divider>
  <h1>Your Carts</h1>
  <mat-divider></mat-divider>

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="80%"   *ngIf="toggle ; else showProductDetails" >
    <mat-card fxLayoutAlign="flex-center" fxLayout="row "  fxFlex="60%"  *ngFor="let data of carts"  >
      <div fxLayoutAlign="center center" fxFlex=40%>
          <img style="width:180px;height:130px;" [src]=data.imageUrl>
       </div>
       <div fxLayoutGap ="1px" fxFlex=40%>
          <h4 class="p3">Product:{{data.name}}</h4>
          <h4 class="p3">RM:{{data.price}}</h4>
          <h4 class="p3">Quantity:{{data.qty}}</h4>
          <h4 class="p3">Category:{{data.category}}</h4>
      </div>
      <div fxLayoutAlign="center center " fxFlex=20%>
        <button mat-raised-button (click)="deleteCart(data._id)" >Remove</button>
      </div>
      <mat-divider></mat-divider>


</mat-card>

</div>
<div fxLayoutAlign="row wrap" fxLayoutAlign ="center center" fxFLex="w0%">
  <button  *ngIf="toggle" fxLayoutAlign="center center" style=" margin-top:10px;height: 50px; width: 80px;" mat-raised-button color ="primary" (click)="showDetails(data);toggle=!toggle">Check Out</button>
  </div>

  <ng-template #showProductDetails>
    <button mat-flat-button color="primary" (click)="Back()">Go Back</button>

    <div fxFlex="100%" fxLayoytAlign="center center">
      <mat-card>
        <img src="assets/img/coat-01.jpeg">
            <h4>{{myDocData.name}}</h4>
            <h5>RM:{{myDocData.price}}</h5>
            <h5>Color:{{myDocData.color}}</h5>
            <h5>Size:{{myDocData.size}}</h5>
            <h5>Shpping:{{myDocData.shipping}}</h5>
            <h5>Discount:{{myDocData.discount}}</h5>
            <h5>Details:{{myDocData.descr}}</h5>


            <mat-error *ngIf="savedChanges">
              <br/>
              <br/> Successfully purchased.
              <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
              <span class="med-spacer"></span>
              <br/>
          </mat-error>
          <br/>
          <mat-icon (click)="countProd('remove')" color="primary">remove</mat-icon>
          {{ counter }}
          <mat-icon (click)="countProd('add')" color="primary">add</mat-icon>
     
          <br/>
      <button mat-raised-button >Cancel</button>
      <button  [disabled]="counter < 1" (click)="purchaseProd(myDocData, counter)" mat-raised-button color ="primary">Purchase</button>      
    </mat-card>
  </div>

    </ng-template>
 
</div>
-->

<!--
<div style="width: 100px;"   fxFlex="100%" fxLayout="column" >
  <app-header></app-header>
  
  <section class="products">    
    <div class="product-card">
      <div  *ngIf="toggle ; else showProductDetails" fxFlex="50%" class="product-image">
        <mat-card>
        <div  style="margin-top: 50px; width: 300px;" *ngFor="let data of carts" class="product-info" >
          <mat-card id="example2" style="width: 300px;">
          <h4>{{data.name}}</h4>
          <h5>{{data.price}}</h5>
          <button mat-raised-button (click)="deleteCart(data)" >Remove</button>
         
          <button mat-raised-button color ="primary" (click)="showDetails(data);toggle=!toggle">Buy</button>
        </mat-card>
        </div>
        <mat-error *ngIf="savedChanges">
          <br/>
          <br/> Successfully purchased.
          <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
          <span class="med-spacer"></span>
          <br/>
      </mat-error>
      </mat-card>
    </div>

      <ng-template #showProductDetails>

      <div fxFlex="100%" fxLayoytAlign="center center">
        <mat-card>
          <img src="assets/img/coat-01.jpeg">
              <h4>{{myDocData.name}}</h4>
              <h5>RM:{{myDocData.price}}</h5>
              <h5>Color:{{myDocData.color}}</h5>
              <h5>Size:{{myDocData.size}}</h5>
              <h5>Shpping:{{myDocData.shipping}}</h5>
              <h5>Discount:{{myDocData.discount}}</h5>
              <h5>Details:{{myDocData.descr}}</h5>


              <mat-error *ngIf="savedChanges">
                <br/>
                <br/> Successfully purchased.
                <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
                <span class="med-spacer"></span>
                <br/>
            </mat-error>
            <br/>
            <mat-icon (click)="countProd('remove')" color="primary">remove</mat-icon>
            {{ counter }}
            <mat-icon (click)="countProd('add')" color="primary">add</mat-icon>
       
            <br/>
        <button mat-raised-button >Cancel</button>
        <button  [disabled]="counter < 1" (click)="purchaseProd(myDocData, counter)" mat-raised-button color ="primary">Purchase</button>      
      </mat-card>
    </div>

      </ng-template>
   






    </div>
  </section>

    </div>

-->