
  <app-header pageTitle="Your Cart"></app-header>

<div class="container mt-5 p-3 rounded cart">
  <div class="row no-gutters">
      <div class="col-md-8">
          <div class="product-details mr-2">
              <div class="d-flex flex-row align-items-center"><i class="fa fa-long-arrow-left"></i><span class="ml-2">Continue Shopping</span></div>
              <hr>
              <h6 class="mb-0">Shopping cart</h6>
              <div class="d-flex justify-content-between"><span>You have items in your cart</span>
                  <div class="d-flex flex-row align-items-center"><span class="text-black-50">Sort by:</span>
                      <div class="price ml-2"><span class="mr-1">price</span><i class="fa fa-angle-down"></i></div>
                  </div>
              </div>
              <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded" fxLayoutGap="20px" *ngFor="let data of carts"  >
                  <div class="d-flex flex-row"><img class="rounded"[src]="data.imageUrl" width="40">
                      <div class="ml-2"><span class="font-weight-bold d-block">{{data.name}}</span></div>
                  </div>
                  <div class="d-flex flex-row align-items-center"><span>
                    <button class="d-block ml-5 font-weight-bold" mat-icon-button (click)="deleteCart(data._id)"  ><mat-icon>delete</mat-icon> </button>
                  </span><span><mat-icon (click)="countProd('remove',data)" color="primary">remove</mat-icon>
                  </span><span class="d-block">{{data.qty}}</span><span>
                    <mat-icon (click)="countProd('add',data)" color="primary">add</mat-icon>
                  </span>
                  <span class="d-block ml-5 font-weight-bold">RM:{{data.price}}</span><i class="fa fa-trash-o ml-3 text-black-50"></i></div>
              </div>
            
          </div>
      </div>
      <div class="col-md-4">
          <div class="payment-info">
              <div class="d-flex justify-content-between align-items-center"><span>Order Summary</span></div>
           
        
              <hr class="line">
              <div class="d-flex justify-content-between information"><h4>Subtotal</h4><h4>RM{{total}}.00</h4></div>
              <div class="d-flex justify-content-between information"><span>Shipping</span><span>RM:00.00</span></div>
              <div class="d-flex justify-content-between information"><h3>Grand Total:</h3><h3>RM{{total}}.00</h3></div><button  [disabled]="counter < 1" (click)="checkOut('checkout')" class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="button"><span>RM{{total}}</span><span>Checkout<i class="fa fa-long-arrow-right ml-1"></i></span></button>
          </div>
      </div>
  </div>
</div>
  <!---
  <div  style=" width: 350px; height: 2000px;background-color: rgb(250, 255, 255);">
  
  <mat-card fxLayoutGap="100px"  style=" height:600px;" >
    <h2> Your Cart</h2>
    <br>
    <br>
    <div class="line"></div>

    <div fxLayout="row" *ngFor="let data of carts"  >

      <img fxFlex="40%" style="width:80px;height:60px; margin-top: 10px;" [src]=data.imageUrl>
      <div fxLayoutAlign="center center" fxFlex="40%" fxLayout="column">
        <h2 class="p4">{{data.name}}</h2>
        <h3 class="p3">RM:{{data.price}}</h3>
      </div>
      <div fxLayoutAlign="flex-end" fxFlex="20%" fxLayout="row">
        <button  mat-icon-button (click)="deleteCart(data._id)"  ><mat-icon>delete</mat-icon> </button>
      </div>

    </div>
    <button  [disabled]="counter < 1" (click)="checkOut('checkout')" mat-raised-button color ="primary">Check Out</button>      
  </mat-card>
  
  </div>
-->
<!---
<div fxFlex="100%" fxLayout="column">
  <app-header pageTitle="Your Cart"></app-header>
  <mat-divider></mat-divider>
  <h1>Your Carts</h1>
  <mat-divider></mat-divider>

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="80%"   *ngIf="toggle ; else showProductDetails" >
    <mat-card fxLayoutAlign="flex-center" fxLayout="row "  fxFlex="60%"  *ngFor="let data of carts"  >
      <div fxLayoutAlign="center center" fxFlex=40%>
          <img style="width:180px;height:130px;" [src]=data.imageUrl>
       </div>
       <div fxLayoutGap ="1px" fxFlex=40%>
          <h4 class="p3">Product:{{data.name}}</h4>
          <h4 class="p3">RM:{{data.price}}</h4>
          <h4 class="p3">Quantity:{{data.qty}}</h4>
          <h4 class="p3">Category:{{data.category}}</h4>
      </div>
      <div fxLayoutAlign="center center " fxFlex=20%>
        <button mat-raised-button (click)="deleteCart(data._id)" >Remove</button>
      </div>
      <mat-divider></mat-divider>


</mat-card>

</div>
<div fxLayoutAlign="row wrap" fxLayoutAlign ="center center" fxFLex="w0%">
  <button  *ngIf="toggle" fxLayoutAlign="center center" style=" margin-top:10px;height: 50px; width: 80px;" mat-raised-button color ="primary" (click)="showDetails(data);toggle=!toggle">Check Out</button>
  </div>

  <ng-template #showProductDetails>
    <button mat-flat-button color="primary" (click)="Back()">Go Back</button>

    <div fxFlex="100%" fxLayoytAlign="center center">
      <mat-card>
        <img src="assets/img/coat-01.jpeg">
            <h4>{{myDocData.name}}</h4>
            <h5>RM:{{myDocData.price}}</h5>
            <h5>Color:{{myDocData.color}}</h5>
            <h5>Size:{{myDocData.size}}</h5>
            <h5>Shpping:{{myDocData.shipping}}</h5>
            <h5>Discount:{{myDocData.discount}}</h5>
            <h5>Details:{{myDocData.descr}}</h5>


            <mat-error *ngIf="savedChanges">
              <br/>
              <br/> Successfully purchased.
              <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
              <span class="med-spacer"></span>
              <br/>
          </mat-error>
          <br/>
          <mat-icon (click)="countProd('remove')" color="primary">remove</mat-icon>
          {{ counter }}
          <mat-icon (click)="countProd('add')" color="primary">add</mat-icon>
     
          <br/>
      <button mat-raised-button >Cancel</button>
      <button  [disabled]="counter < 1" (click)="purchaseProd(myDocData, counter)" mat-raised-button color ="primary">Purchase</button>      
    </mat-card>
  </div>

    </ng-template>
 
</div>
-->

<!--
<div style="width: 100px;"   fxFlex="100%" fxLayout="column" >
  <app-header></app-header>
  
  <section class="products">    
    <div class="product-card">
      <div  *ngIf="toggle ; else showProductDetails" fxFlex="50%" class="product-image">
        <mat-card>
        <div  style="margin-top: 50px; width: 300px;" *ngFor="let data of carts" class="product-info" >
          <mat-card id="example2" style="width: 300px;">
          <h4>{{data.name}}</h4>
          <h5>{{data.price}}</h5>
          <button mat-raised-button (click)="deleteCart(data)" >Remove</button>
         
          <button mat-raised-button color ="primary" (click)="showDetails(data);toggle=!toggle">Buy</button>
        </mat-card>
        </div>
        <mat-error *ngIf="savedChanges">
          <br/>
          <br/> Successfully purchased.
          <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
          <span class="med-spacer"></span>
          <br/>
      </mat-error>
      </mat-card>
    </div>

      <ng-template #showProductDetails>

      <div fxFlex="100%" fxLayoytAlign="center center">
        <mat-card>
          <img src="assets/img/coat-01.jpeg">
              <h4>{{myDocData.name}}</h4>
              <h5>RM:{{myDocData.price}}</h5>
              <h5>Color:{{myDocData.color}}</h5>
              <h5>Size:{{myDocData.size}}</h5>
              <h5>Shpping:{{myDocData.shipping}}</h5>
              <h5>Discount:{{myDocData.discount}}</h5>
              <h5>Details:{{myDocData.descr}}</h5>


              <mat-error *ngIf="savedChanges">
                <br/>
                <br/> Successfully purchased.
                <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
                <span class="med-spacer"></span>
                <br/>
            </mat-error>
            <br/>
            <mat-icon (click)="countProd('remove')" color="primary">remove</mat-icon>
            {{ counter }}
            <mat-icon (click)="countProd('add')" color="primary">add</mat-icon>
       
            <br/>
        <button mat-raised-button >Cancel</button>
        <button  [disabled]="counter < 1" (click)="purchaseProd(myDocData, counter)" mat-raised-button color ="primary">Purchase</button>      
      </mat-card>
    </div>

      </ng-template>
   






    </div>
  </section>

    </div>

-->