


<div *ngIf="(toggleField=='searchMode') else (toggleField=='addMode')? showAddMode : ((toggleField=='editMode')? showEditMode : showResMode)" fxLayout="column"  fxFlex="100%" fxLayoutGap="20px">
    <app-header pageTitle="Welcome to merchant page"></app-header>
    <div fxLayoutAlign="center center">
        <mat-card fxLayoutAlign="flex-start" 
        style="background-color: rgb(228, 233, 227); margin-top: 2%; height:300px;width:50%;">
    
       <h4 class="p3"> We welcome you to sell your products with only few steps 

       </h4> 

    </mat-card>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="flex-start" >
        <mat-card (click)="toggle('resMode'); getUserProd();" fxLayoutAling="center center" fxFlex="15%" style="margin-left: 15%; margin-top: 50px; height: 300px; background-color: rgb(248, 245, 252);"  >
            <mat-icon class="mat-icon "> fastfood</mat-icon>
            <h2 class="p3" >Your Product</h2>
        </mat-card>

        <mat-card  (click)="toggle('addMode')" fxFlex="15%" style="margin-left: 5%; margin-top: 50px; height: 300px; background-color: rgb(255, 255, 255);"  >
            <mat-icon class="mat-icon "> add_shopping_cart</mat-icon>
            <h2 class="p3" >Add Product</h2>
        </mat-card>

        <mat-card fxFlex="15%" style="margin-left: 5%; margin-top: 50px; height: 300px;; background-color: rgb(242, 236, 247);"  >
            <mat-icon class="mat-icon "> screen_share</mat-icon>
            <h2 class="p3" >Share Your Product</h2>
        </mat-card>

        <mat-card fxFlex="15%" style="margin-left: 5%; margin-top: 50px; height: 300px; background-color: rgb(247, 247, 247);"  >
            <mat-icon class="mat-icon "> help_outline</mat-icon>
            <h2 class="p3" >Help</h2>
        </mat-card>
    </div>

    
</div>



















<!---

<mat-card>
    <mat-card-content>
        <div *ngIf="(toggleField=='searchMode') else (toggleField=='addMode')? showAddMode : ((toggleField=='editMode')? showEditMode : showResMode)">
            <form #searchFormData="ngForm" class="example-form">
                <mat-card-actions align="start">
                    <button type="button" (click)="toggle('resMode');getFilterData(searchFormData.value);" mat-raised-button [disabled]="!searchFormData.valid"
                        color="primary">Search</button>
                    <span class="med-spacer"></span>
                    <span matTooltip="Add New">
                        <mat-icon color="primary" (click)="toggle('addMode');">add</mat-icon>
                    </span>
                    <span class="small-spacer"></span>
                    <span matTooltip="Show Recent Results">
                        <mat-icon color="primary" (click)="toggle('resMode');getData();">cached</mat-icon>
                    </span>
                </mat-card-actions>
                <mat-form-field class="example-form">
                    <input matInput [disabled]="name.value > ''" type="text" placeholder="Category" id="category" name="category" #category="ngModel" ngModel
                        minlength="3" maxlength="50">
                </mat-form-field>
                <br>
                <mat-form-field class="example-form">
                    <input matInput [disabled]="category.value > ''" type="text" placeholder="Product Name" id="name" name="name" #name="ngModel" ngModel
                        minlength="3" maxlength="50">
                </mat-form-field>
                <br>
                <mat-form-field class="example-form">
                    <input matInput [matDatepicker]="pickerfromdt" placeholder="From Date" id="fromdt" name="fromdt" #fromdt="ngModel" [ngModel]="currentDate7">
                    <mat-datepicker-toggle matSuffix [for]="pickerfromdt"></mat-datepicker-toggle>
                    <mat-datepicker #pickerfromdt></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field class="example-form">
                    <input matInput [matDatepicker]="pickertodt" placeholder="To Date" id="todt" name="todt" #todt="ngModel" [ngModel]="currentDate">
                    <mat-datepicker-toggle matSuffix [for]="pickertodt"></mat-datepicker-toggle>
                    <mat-datepicker #pickertodt></mat-datepicker>
                </mat-form-field>
            </form>
        </div>
    </mat-card-content>
</mat-card>
 --->
<ng-template #showAddMode>
    <div fxLayout="column wrap" fxFlex="100%">
     <app-header pageTitle="Add Your Product"></app-header>
     <button mat-flat-button color="primary" (click)="Back()">Go Back</button>
     <div fxLayout="column wrap" fxFlex="60%">
    <form #addDataForm="ngForm" (ngSubmit)="setData(addDataForm.value);" novalidate>
        <mat-error *ngIf="savedChanges">
            Your product has been submitted for review. You will an email regarding the status as soon as possible.
            <label class="small-spacer"></label>
            <mat-icon (click)="this.addDataForm.reset();savedChanges=false;toggle('searchMode');">clear</mat-icon>
        </mat-error>

        <div fxLayout="column wrap" fxLayoutAlign="center center" *ngIf="!savedChanges">
          

            <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
            <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
            <mat-card-actions align="start">
              <button type="submit" mat-raised-button [disabled]="!addDataForm.valid"  color="primary">Submit</button>
              <button type="reset" (click)="this.addDataForm.reset();" mat-raised-button [disabled]="!addDataForm.valid" color="primary">Clear</button>
              <span class="med-spacer"></span>
             
              <mat-divider></mat-divider>

          </mat-card-actions>
           
                     <label for="file">File:</label>
                    <input  type="file" name="image" id="image" (change)="upload($event)" accept=".png,.jpg,.jpeg" ngModel required />
                <div style="width:800px;"  fxLayout="column wrap" fxLayoutGap="6px" >
                <mat-form-field appearance="fill">
                   
                    <mat-label>Category</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="category" id="category" ngModel>
                      <mat-option *ngFor="let cat of category" [value]="cat.value">
                        {{cat.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!--
            <mat-form-field  >
                <input matInput placeholder="Category" name="category" id="category" ngModel required minlength="1">
                <mat-hint align="end">eg. Men Garments</mat-hint>
            </mat-form-field>-->
            <mat-form-field  style="width: 500px;">
                <input matInput placeholder="Product Name" name="name" id="name" ngModel required minlength="1">
                <mat-hint align="end">eg. Shirt</mat-hint>
            </mat-form-field>

            <mat-form-field style="width:800px;">
                <textarea matInput placeholder="Description" name="descr" id="descr" ngModel></textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Color" name="color" id="color" ngModel>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Size" name="size" id="size" ngModel>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Price" name="price" id="price" ngModel required pattern="[0-9]+">
            </mat-form-field>
            <mat-form-field appearance="fill">

            <mat-label>Courrier Service</mat-label>
            <mat-select [(ngModel)]="shippingvalues" name="shipping" id="shipping" ngModel>
              <mat-option *ngFor="let ship of shipping" [value]="ship.value">
                {{ship.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Shipping Price" name="shipPrice" id="shipPrice" ngModel pattern="[0-9]+">
            <mat-hint align="end"></mat-hint>
        </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Discount" name="discount" id="discount" ngModel pattern="[0-9]+">
                <mat-hint align="end"></mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Address" name="address" id="Address" ngModel required >
                <mat-hint align="end">eg. 0 if no discount is offered.</mat-hint>
            </mat-form-field>
          </div>
        </div>
    </form>
</div>
</div>
</ng-template>

<ng-template #showEditMode>
    <form #editDataForm="ngForm" (ngSubmit)="updateData(editDataForm.value);" novalidate>
        <input type="hidden" name="_id" id="_id" [ngModel]="myDocData._id" required>
        <mat-error *ngIf="savedChanges">
            Data is saved.
            <label class="small-spacer"></label>
            <mat-icon (click)="this.editDataForm.reset();savedChanges=false;toggle('searchMode');">clear</mat-icon>
        </mat-error>
        <div *ngIf="!savedChanges">
            <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
            <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
            <mat-card-actions align="start">
                <button type="submit" mat-raised-button [disabled]="!this.editDataForm.valid || this.editDataForm.pristine" color="primary">Update</button>
                <span class="med-spacer"></span>
                <span matTooltip="Search">
                    <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
                </span>
                <span class="small-spacer"></span>
                <span matTooltip="Shwo Recent Results">
                    <mat-icon color="primary" (click)="toggle('resMode');getData();">cached</mat-icon>
                </span>
            </mat-card-actions>
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select name="category" id="category" [ngModel]="myDocData.category" >
                  <mat-option *ngFor="let cat of category" [value]="cat.value">
                    {{cat.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        
            <br>

            <br>
            <mat-form-field>
                <input matInput placeholder="Product Name" name="name" id="name" [ngModel]="myDocData.name" required minlength="1">
                <mat-hint align="end">eg. Shirt</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Short Name" name="sname" id="sname" [ngModel]="myDocData.sname">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Long Name" name="lname" id="lname" [ngModel]="myDocData.lname">
            </mat-form-field>
            <br>
            <mat-form-field>
                <textarea matInput placeholder="Description" name="descr" id="descr" [ngModel]="myDocData.descr"></textarea>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Color" name="color" id="color" [ngModel]="myDocData.color">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Size" name="size" id="size" [ngModel]="myDocData.size">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Price" name="price" id="price" [ngModel]="myDocData.price" required pattern="[0-9]+">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Shipping" name="shipping" id="shipping" [ngModel]="myDocData.shipping" pattern="[0-9]+">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Discount" name="discount" id="discount" [ngModel]="myDocData.discount" pattern="[0-9]+">
                <mat-hint align="end">eg. 0 if no discount is offered.</mat-hint>
            </mat-form-field>
        </div>
    </form>
    
</ng-template>

<ng-template  #showResMode>

<div style="width: 100px;"   fxFlex="100%" fxLayout="column" >
        <app-header pageTitle="Your Product"></app-header>
        <button mat-flat-button color="primary" (click)="Back()">Go Back</button>
        <mat-divider></mat-divider>
        <h1>Your Product</h1>
        <mat-divider></mat-divider>
        <div fxLayoyt="row wrap" fxFlex="100%">
            <mat-card style="height: 100%; width: 20%; background-color: rgb(31, 31, 31);" fxFlex=20% ></mat-card >
                <div fxLayoutAlign="flex-start" fxLayout="row wrap"  fxFlex="80%" >
                    <mat-card  *ngFor="let data of userProd" style="height: 150px;  width: 10%; background-color: rgb(241, 250, 250);"  >
                    <h4>{{data.name}}</h4>
                    <h5>{{data.price}}</h5>
                    <button mat-raised-button (click)="deleteProd(data._id)" >Remove</button>
                    
                  <button mat-raised-button color ="primary" (click)="getDoc(data._id)" >Edit</button>
                <mat-error *ngIf="savedChanges">
                  <br/>
                  <br/> 
                  <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
                  <span class="med-spacer"></span>
                  <br/>
              </mat-error>
              </mat-card>
        </div>
    
    </div>

        
</div>
</ng-template>
<!--

<ng-template #showResMode>
    <mat-card-actions align="start">
        <span class="med-spacer"></span>
        <span class="med-spacer"></span>
        <span class="med-spacer"></span>
        <span matTooltip="Add New">
            <mat-icon color="primary" (click)="toggle('addMode')">add</mat-icon>
        </span>
        <span class="small-spacer"></span>
        <span matTooltip="Search All">
            <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
        </span>
    </mat-card-actions>
    <div *ngIf="takeHostSelfie" width="300">
            <button type="reset" (click)="takeHostSelfie=false;" mat-icon-button color="primary"><mat-icon>clear</mat-icon></button>
            <br>
            <fileupload fileUrl="product" docId="{{this.myDocId}}"></fileupload>
        </div>
        <div *ngIf="showHostSelfie" width="300">
            <button type="reset" (click)="showHostSelfie=false;" mat-icon-button color="primary"><mat-icon>clear</mat-icon></button>
            <br>
            <img [src]="profileUrl | async" width="300" height="300"/>
            <br>
        </div>
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search Recent Results">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.category}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="scategory">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>SubCategory</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.scategory}} </mat-cell>
                </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
                </ng-container>
            <ng-container matColumnDef="_id">
                <mat-header-cell *matHeaderCellDef> action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                        <button mat-icon-button matTooltip="Show Picture" *ngIf="row.path" (click)="getPic(row.path);this.showHostSelfie=true;">
                            <mat-icon color="primary">photo_camera</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Remove Picture" *ngIf="row.path" (click)="deleteProductPic(row._id);this.showHostSelfie=false;">
                            <mat-icon color="primary">camera_roll</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Take Picture" (click)="this.myDocId=row._id;this.takeHostSelfie=true;" class="label-error"
                            *ngIf="!row.path" class="label-error"><mat-icon>camera_roll</mat-icon></button>
                    <span matTooltip="Edit">
                        <button mat-icon-button (click)="getDoc(row._id)">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                    </span>
                    <span matTooltip="Delete">
                        <button mat-icon-button (click)="deleteDoc(row._id)">
                            <mat-icon color="primary">delete</mat-icon>
                        </button>
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</ng-template>

-->
