
body {
  font-family: sans-serif;
  color: #202020!important;
  background-color: rgb(255, 255, 255);
  font-size: 16px!important;
  font-weight: 400!important;
  line-height: 1.375em;
}

.container {
  padding: 0% !important;   
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  width: 100% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}


element.style {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center flex-start;
  align-items: center;
}

.selected-border-radius-15px {
  box-shadow: none!important;
  border-radius: 15px!important;
  border: 1px solid #008489!important;
}

.p-3 {
  padding: 1rem!important;
}

.mt-3, .my-3 {
   margin-top: 1rem!important; 

}

.border-radius-15px {
  box-shadow: none!important;
  border-radius: 15px!important;
  border: 1px solid #0b6ed1!important;
}

.point-number[_ngcontent-c14] {
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  padding: 1px 7px 2px;
  text-decoration: none;
  font-style: normal;
  vertical-align: top;
  line-height: 1.2;
  background: #10567b;
  border-radius: 50%;
  box-sizing: border-box;
}

.box-shadow-1 {
  box-shadow: 10px 10px 100px 1px #ebebeb!important;
}