body {
    font-family: airbnb cereal,sans-serif;
    color: #484848!important;
    font-size: 16px!important;
    font-weight: 400!important;
    line-height: 1.375em;
}

.margin-top-custom-nav-head {
    margin-top: 60px;
}
.white-bg {
    background: #fff!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}