
  .toolbar{
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #909190 0%, #141414 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2d2e2c), to(#0e0e0d));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #55dd2c 0%, #abe93a 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,82,1) 100%, rgba(0,212,255,1) 100%);

}

.header2 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}