


.font{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: #363636;
    margin-top: 2px;
  
  }


.font2{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    color: #5a5a5a;
    margin-top: 1px;
    margin-left: 25px;
  
  }

  .font3{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    color: #5a5a5a;
    margin-top: 20px;
  
  }


  .borderLine{
    border-bottom: 1px solid rgb(211, 209, 209);
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
  
  }
  
  
  .border{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 800px;
    border: 1px solid rgb(160, 160, 160);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
  }

  .borderPurchase{
    background-color: rgb(255, 255, 255);
    width: 800px;
    border: 1px solid rgb(160, 160, 160);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
  }
  
  