<body>
<app-header></app-header>
<div  class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
      </div>
      <form #editDataForm="ngForm"  (ngSubmit)="updateData(editDataForm.value);" class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" name="Username" id="Username"  [ngModel]="myDocData.Username "></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12"><label class="labels">PhoneNumber</label><input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber"  [ngModel]="myDocData.PhoneNumber"></div>
                  <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="enter address" name="Address" id="Address" [ngModel]="myDocData.Address"></div>
                  <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id"   name="Useremail" id="Useremail" [ngModel]="myDocData.Useremail" ></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" name="country" id="country" [ngModel]="myDocData.country " ></div>
                  <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control"name="State" id="State"  [ngModel]="myDocData.State " placeholder="state"></div>
              </div>
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
          </div>
        </form>
      <form  #editDataForm="ngForm"  (ngSubmit)="updateData(editDataForm.value);"  class="col-md-4">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center experience"><span>Change Password</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i></span></div><br>
              <div class="col-md-12"><label class="labels">Your New Password</label><input  class="form-control" placeholder="New Password" type="password" name="Password" id="Password"[(ngModel)]="Password"  #password="ngModel" required  minlength="6"></div> <br>
              <div class="col-md-12"><label class="labels">Verify Your Password</label><input  class="form-control" placeholder="Verify Password" type="password" name="pass2" id="pass2"  [(ngModel)]="pass2" (ngModelChange)="checkSame(Password,pass2)" required  ></div>

            <span >

              <mat-error *ngIf="!checkSame(Password,pass2)">Password not matched</mat-error>

            </span>
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Password</button></div>
          </div>
        </form>
  </div>
</div>
</body>
<!-----

<div style="background-color: rgba(252, 247, 247, 0.829); height: 100%;" fxLayout="column">

  <app-header pageTitle="User Profile"></app-header>
  <div fxLayout="row">
    <div fxFlex="15%"></div>
    <div fxFlex="10%" fxLayout="column">
      <div style="height: 200px;"></div>
      <div fxLayout="row">
        <mat-icon>account_circle</mat-icon>
        <h2 class="font" >Account</h2>
      </div>
      <div fxLayout="column">
        <h2 style="cursor: pointer;" (click)="toggle('profile')" class="font2" >Profile</h2>
        <h2 style="cursor: pointer;" (click)="toggle('bank')" class="font2" >Bank & Cards</h2>
        <h2  style="cursor: pointer;" (click)="toggle('password')" class="font2" >Change Password</h2>

      </div>
      <div style="margin-top: 10px;" fxLayout="row">
        <mat-icon> money</mat-icon>        
        <h2  style="cursor: pointer;" (click)="toggle('purchase')"  class="font" >Purchase</h2>
      </div>
   

    </div>
    <div *ngIf="toggleField=='profile'" class="border" fxFlex="50%" fxLayout="column wrap" #profile>

      <h2 class="font" >My Profile</h2>
      <h2 class="font3" >Manage and protect your account</h2>
      <div class="borderLine"></div>
      <div style="margin-top: 50px;" fxLayoutGap="10px" fxLayout="row">
        <div fxFlex="10%"></div>
        <div fxLayoutGap="58px" fxFlex="20%" fxLayout="column">
          <h2 class="font3" >Username: </h2>
          <h2 class="font3" >Useremail: </h2>
          <h2 class="font3" >Phone Number: </h2>
          <h2 class="font3" >Address: </h2>

        </div>
        <form #editDataForm="ngForm"  (ngSubmit)="updateData(editDataForm.value);" fxLayoutGap="27px" style="margin-top: -25px;" fxFlex="50%" fxLayout="column" novalidate>
          <mat-form-field >
            <input  matInput  name="username" id="Username" class="font4" [ngModel]="myDocData.Username " >
          </mat-form-field>
          <mat-form-field >
            <input  matInput  name="Useremail" id="Useremail" [ngModel]="myDocData.Useremail" >
          </mat-form-field>
          <mat-form-field >
            <input  matInput  name="PhoneNumber" id="PhoneNumber" class="font4" [ngModel]="myDocData.PhoneNumber" >
          </mat-form-field>
          <mat-form-field >
            <input  matInput  name="Address" id="Address"  [ngModel]="myDocData.Address" >
          </mat-form-field>

          <button (click)="alertUser(alert)" fxLayoutAlign="flex-center" style="width: 20%;"type="submit" mat-raised-button [disabled]="!this.editDataForm.valid || this.editDataForm.pristine" color="primary">Update</button>
          <ng-template #alert>
            <mat-dialog-content>
              Your Profile is updated!
        
            </mat-dialog-content>
            <mat-dialog-actions align="end">
              <button mat-button matDialogClose color="primary">Close</button>
            </mat-dialog-actions>
          </ng-template>
        </form>

        

        
      </div>




    </div>

       <div *ngIf="toggleField=='bank'" class="border" fxFlex="60%" fxLayout="column wrap" >

        <div fxLayout="row">
          <h2 fxFlex="80%" class="font" >Credit Card Installment</h2>  
          <button fxFlex="20%" mat-raised-button color="warn">Add Credit Card</button>
        </div>
      <div style="height: 200px;"></div>
      <div class="borderLine"></div>

      <div fxLayout="row">
        <h2 fxFlex="80%" class="font" >Credit/Debit Card</h2>  
        <button fxFlex="20%" mat-raised-button color="warn">Add New Card</button>
      </div>
    <div style="height: 200px;"></div>
    <div class="borderLine"></div>




    </div>


    <div *ngIf="toggleField=='password'" class="border" fxFlex="50%" fxLayout="column wrap" >

      <h2 class="font" >My Profile</h2>
      <h2 class="font3" >Manage and protect your account</h2>
      <div class="borderLine"></div>
      <div style="margin-top: 50px;" fxLayoutGap="10px" fxLayout="row">
        <div fxFlex="10%"></div>
        <div fxLayoutGap="58px" fxFlex="20%" fxLayout="column">
          <h2 class="font3" >Old Password: </h2>
          <h2 class="font3" >New Password: </h2>
          <h2 class="font3" >Verify Password: </h2>

        

        </div>
        <form #editDataForm="ngForm"  (ngSubmit)="updateData(editDataForm.value);" fxLayoutGap="27px" style="margin-top: -25px;" fxFlex="50%" fxLayout="column" novalidate>
          <mat-form-field >
            <input  type="password" matInput name="oldPassword" id="oldPassword" class="font4"  [(ngModel)]="Oldpassword" (ngModelChange)="!checkSame(myDocData.Password,Oldpassword)" required >
          </mat-form-field>
          <mat-form-field >
            <input  matInput type="password" name="Password" id="Password" class="font4" [(ngModel)]="Password"  #password="ngModel" required  minlength="6" >
          </mat-form-field>
    
          <mat-form-field >
            <input   matInput type="password" name="pass2" id="pass2"  [(ngModel)]="pass2" (ngModelChange)="checkSame(Password,pass2)" required   >
          </mat-form-field>

            <span >

              <mat-error *ngIf="!checkSame(Password,pass2)">Password not matched</mat-error>

            </span>
          

         
       <button (click)="alertUser(alert)" fxLayoutAlign="flex-center" style="width: 20%;"type="submit" mat-raised-button [disabled]="!this.editDataForm.valid || this.editDataForm.pristine||!samePass" color="primary">Update</button>
      
       <ng-template #alert>
            <mat-dialog-content>
              Your Profile is updated!
        
            </mat-dialog-content>
            <mat-dialog-actions align="end">
              <button mat-button matDialogClose color="primary">Close</button>
            </mat-dialog-actions>
          </ng-template>
        </form>

        

        
      </div>




      </div>


      <div *ngIf="toggleField=='purchase'" class="borderPurchase" fxFlex="100%" fxLayout="column wrap" >

        <app-purchase></app-purchase>
  
  
  
        </div>

  </div>
</div>

-->