


<div  fxLayoutAlign="flex-start"  style="background-color: #eee; " class="container mt-5 box-shadow-1" fxLayoutGap="10px"  >
    <div fxLayout="row">
        <div class="col-md-2 " class="" >
            <div   style=" padding-left: 20%;" fxLayout="row"  fxLayoutGap="100%"  fxLayoutGap.xs="10%" fxLayout.xs="column" >
                <div fxLayoutGap="80%" fxLayoutGap.xs="10%" fxLayout="row" >
                
                <div (click)="toggle('main')" style="cursor: pointer; " fxLayout="column"  class="d-flex flex-column align-items-center" >
                    <img _ngcontent-c14="" height="70" src="https://storage.googleapis.com/kravve-prod.appspot.com/merchantDashboardImage/8icon/thumb@64_8icon - next-selected.png" width="70" class="ng-star-inserted">  
                    <div _ngcontent-c14="" class="font-size-11px sub-header  mt-1 mt-md-2 ng-star-inserted ">Main </div>             
                </div>
                <div  style="cursor: pointer; "  fxLayout="column" class="d-flex flex-column align-items-center" >
                    <img _ngcontent-c14="" height="70" src="https://storage.googleapis.com/kravve-prod.appspot.com/merchantDashboardImage/8icon/thumb@64_8icon - dashboard-selected.png" width="70" class="ng-star-inserted">  
                    <div _ngcontent-c14="" class="font-size-11px sub-header  mt-1 mt-md-2 ng-star-inserted">Dashboard </div>             
                </div>
            </div>
            <div (click)="toggle('product'); getUserProd();" fxLayoutGap="80%" fxLayoutGap.xs="10%" fxLayout="row">
                <div  style="cursor: pointer; "  fxLayout="column" class="d-flex flex-column align-items-center" >
                    <img _ngcontent-c14="" height="70" src="https://storage.googleapis.com/kravve-prod.appspot.com/merchantDashboardImage/8icon/thumb@64_8icon - orders5.png" width="70" class="ng-star-inserted">  
                    <div _ngcontent-c14="" class="font-size-11px sub-header  mt-1 mt-md-2 ng-star-inserted">Product </div>             
                </div>
                <div  style="cursor: pointer; "  fxLayout="column" class="d-flex flex-column align-items-center">
                    <img _ngcontent-c14="" height="70" src="https://storage.googleapis.com/kravve-prod.appspot.com/merchantDashboardImage/8icon/thumb@64_8icon - help5.png" width="70" class="ng-star-inserted">  
                    <div _ngcontent-c14="" class="font-size-11px sub-header  mt-1 mt-md-2 ng-star-inserted">Help </div>             
                </div>
                <div style="cursor: pointer; "  fxLayout="column" class="d-flex flex-column align-items-center">
                    <img _ngcontent-c14="" height="70"  src="https://storage.googleapis.com/kravve-prod.appspot.com/merchantDashboardImage/8icon/thumb@64_8icon - coupon5.png" width="70" class="ng-star-inserted">  
                    <div _ngcontent-c14="" class="font-size-11px sub-header  mt-1 mt-md-2 ng-star-inserted">Coupon </div>             
                </div>
               


            </div>
             </div>
        </div>
    </div>
  
        
    
        
    </div>
    <div *ngIf="toggleField=='main'" style="background-color: #eee;" fxLayoutGap="5%" class="container mt-5" fxLayout="column" >
    <div (click)="UploadProd('uploadProduct')" _ngcontent-c14="" class="p-3 cursor-pointer border-radius-15px" fxlayout="row" fxlayoutalign="start center" fxlayoutgap="30px" routerlink="/internal/merchant/product/new" tabindex="0" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center; cursor: pointer;">
        <i _ngcontent-c14="" class="point-number" fxflex="30px" fxlayout="column" fxlayoutalign="center center" style="margin-right: 30px; flex-direction: column; box-sizing: border-box; display: flex; max-width: 30px; place-content: center; align-items: center; flex: 1 1 30px; min-width: 30px;">1</i>
        <div _ngcontent-c14="" class="sub-header" fxflex="100%" style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 100%;"> <h4>Upload Product</h4></div>
        <div _ngcontent-c14="" fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
           <!----><!---->
           <mdb-icon _ngcontent-c14="" fas="" icon="check-circle" size="lg" style="color:#008489 !important" class="fas ng-star-inserted"><i class="fa-check-circle fa-lg fas"></i></mdb-icon>
        </div>
     </div>

     <div _ngcontent-c14="" class="p-3 cursor-pointer border-radius-15px" fxlayout="row" fxlayoutalign="start center" fxlayoutgap="30px" routerlink="/internal/merchant/product/new" tabindex="0" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center; cursor: pointer;">
        <i _ngcontent-c14="" class="point-number" fxflex="30px" fxlayout="column" fxlayoutalign="center center" style="margin-right: 30px; flex-direction: column; box-sizing: border-box; display: flex; max-width: 30px; place-content: center; align-items: center; flex: 1 1 30px; min-width: 30px;">2</i>
        <div _ngcontent-c14="" class="sub-header" fxflex="100%" style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 100%;"> <h4>Create Coupon</h4></div>
        <div _ngcontent-c14="" fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
           <!----><!---->
           <mdb-icon _ngcontent-c14="" fas="" icon="check-circle" size="lg" style="color:#008489 !important" class="fas ng-star-inserted"><i class="fa-check-circle fa-lg fas"></i></mdb-icon>
        </div>
     </div>

     <div _ngcontent-c14="" class="p-3 cursor-pointer border-radius-15px" fxlayout="row" fxlayoutalign="start center" fxlayoutgap="30px" routerlink="/internal/merchant/product/new" tabindex="0" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center; cursor: pointer;">
        <i _ngcontent-c14="" class="point-number" fxflex="30px" fxlayout="column" fxlayoutalign="center center" style="margin-right: 30px; flex-direction: column; box-sizing: border-box; display: flex; max-width: 30px; place-content: center; align-items: center; flex: 1 1 30px; min-width: 30px;">3</i>
        <div _ngcontent-c14="" class="sub-header" fxflex="100%" style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 100%;"> <h4>Share Your Product</h4></div>
        <div _ngcontent-c14="" fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
           <!----><!---->
           <mdb-icon _ngcontent-c14="" fas="" icon="check-circle" size="lg" style="color:#008489 !important" class="fas ng-star-inserted"><i class="fa-check-circle fa-lg fas"></i></mdb-icon>
        </div>
     </div>
    </div>


    <div *ngIf="toggleField=='product'" style="background-color: #eee; margin-top: 5%; " fxLayoutGap="5%" class="container mt-5" fxLayout="column">
            
     <div _ngcontent-c14="" class="p-3 cursor-pointer border-radius-5px" fxlayout="row" fxlayoutalign="start center" fxlayoutgap="30px"  tabindex="0" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center; align-items:center; ">
        <div fxLayout="column">
        <div _ngcontent-c14="" class="sub-header" fxflex="100%" fxLayoutAlign="center center !important" style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 100%;"> <h4>Approved Product</h4></div>
        <div _ngcontent-c14="" class="sub-header click-font " fxflex="100%" fxLayoutAlign="flex-start !important" (click)="toggle('Prod','approved')"  style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 100%; cursor: pointer; "> <p>{{approve}} Product Approved</p></div>

    </div>
        <div _ngcontent-c14="" fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
           <!----><!---->
           <mdb-icon _ngcontent-c14="" fas="" icon="check-circle" size="lg" style="color:#008489 !important" class="fas ng-star-inserted"><i class="fa-check-circle fa-lg fas"></i></mdb-icon>
        </div>
     </div>

     <div _ngcontent-c14="" class="p-3 cursor-pointer border-radius-5px" fxlayout="row" fxlayoutalign="start center" fxlayoutgap="30px"  tabindex="0" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center; align-items:center;">
        <div fxLayout="column">
        <div _ngcontent-c14="" class="sub-header" fxflex="100%" fxLayoutAlign="center center !important" style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 100%;"> <h4>Pending Product</h4></div>
        <div _ngcontent-c14="" class="sub-header click-font " fxflex="100%" fxLayoutAlign="flex-start !important" (click)="toggle('Prod','pending')" style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 100%; cursor: pointer; "> <p>{{pending}} Product Pending</p></div>

    </div>
        <div _ngcontent-c14="" fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
           <!----><!---->
           <mdb-icon _ngcontent-c14="" fas="" icon="check-circle" size="lg" style="color:#008489 !important" class="fas ng-star-inserted"><i class="fa-check-circle fa-lg fas"></i></mdb-icon>
        </div>
     </div>

     <div _ngcontent-c14="" class="p-3 border-radius-5px" fxlayout="row" fxlayoutalign="start center" fxlayoutgap="30px"  tabindex="0" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center; align-items:center; ">
        <div fxLayout="column">
        <div _ngcontent-c14="" class="sub-header" fxflex="100%" fxLayoutAlign="center center !important" style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 100%;"> <h4>Rejected Product</h4></div>
        <div _ngcontent-c14="" class="sub-header click-font " fxflex="100%" fxLayoutAlign="flex-start !important" (click)="toggle('Prod','rejected')"  style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 100%; cursor: pointer; "> <p>{{rejected}} Product Rejected</p></div>

    </div>
        <div _ngcontent-c14="" fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
           <!----><!---->
           <mdb-icon _ngcontent-c14="" fas="" icon="check-circle" size="lg" style="color:#008489 !important" class="fas ng-star-inserted"><i class="fa-check-circle fa-lg fas"></i></mdb-icon>
        </div>
     </div>
      
          </div>

          <div *ngIf="toggleField=='Prod'" style="background-color: #eee; margin-top: 5%; " fxLayoutGap="5%" class="container mt-5" fxLayout="column">
            <div _ngcontent-c14="" class="p-3" fxlayout="row" fxlayoutalign="start center" fxlayoutgap="30px" routerlink="/internal/merchant/product/new" tabindex="0" style="flex-direction: row; display: flex; max-height: 100%; place-content: center; align-items:center; ">
                <div class="row">
                    <div  class="col-lg-8 mx-auto">
                        <!-- List group-->
                        <ul class="list-group shadow">
                            <!-- list group item-->
                            <li style="cursor:pointer" class="list-group-item"  *ngFor="let data of userProd;" (click)="openModal(data._id)"   >
                                <!-- Custom content-->
                                <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                    <div class="media-body order-2 order-lg-1">
                                        <h5 class="mt-0 font-weight-bold mb-2">{{data.name}}</h5>
                                        <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p>
                                        <div class="d-flex align-items-center justify-content-between mt-1">
                                            <h6 class="font-weight-bold my-2">${{data.price}}</h6>
                                            <ul class="list-inline small">
                                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                                <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                            </ul>
                                        </div>
                                    </div><img [src]=data.imageUrl alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                                </div> <!-- End -->
                            </li> <!-- End -->
                            
                        </ul> <!-- End -->
                    </div>
                </div>

            </div>
        </div>

                   
            
    



        <div style="height:100%" class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
            <div class="modal-dialog modal-lg" role="document" >
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Wish List</h5> <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div  class="col-lg-8 mx-auto">
                          <!-- List group-->
                          <ul class="list-group shadow">
                              <!-- list group item-->
                              <li style="cursor:pointer" class="list-group-item"    >
                                  <!-- Custom content-->
                                  <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                      <div class="media-body order-2 order-lg-1">
                                          <h5 class="mt-0 font-weight-bold mb-2">{{myDocData.name}}</h5>
                                          <p class="font-italic text-muted mb-0 small">{{myDocData.shortDes}}</p>
                                              <h6 class="font-weight-bold">${{myDocData.price}}</h6>
                                              <p class="font-italic text-muted mb-0 small">{{myDocData.descr}}</p>
                                              <p class="font-italic text-muted mb-0 small">Email:{{myDocData.useremail}}</p>
                                              <p class="font-italic text-muted mb-0 small">Location:{{myDocData.address}}</p>



                                      </div><img [src]=myDocData.imageUrl alt="Generic placeholder image" width="70" class="ml-lg-5 order-1 order-lg-2">
                                  </div> <!-- End -->
                              </li> <!-- End -->
                              
                          </ul> <!-- End -->
                      </div>
                  </div>
                  </div>
              </div>
            </div>
            </div>
<!--
  <div *ngIf="toggleField=='product'" style="background-color: #eee;" fxLayoutGap="5%" class="container py-5" fxLayout="column" >
            <div class="row text-center text-white mb-5">
                <div class="col-lg-7 mx-auto">
                    <h1 class="display-4">Product List</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                     
                    <ul class="list-group shadow">
                        <li  style="cursor:pointer" class="list-group-item"  *ngFor="let data of userProd;" >
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1" fxLayout="column">

                                    <h5 class="mt-0 font-weight-bold mb-2">{{data.name}}</h5>
                                    <p class="font-italic text-muted mb-0 small">{{data.shortDes}}</p>
                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                        <h6 class="font-weight-bold my-2">₹{{data.price}}</h6>
                                  
    
                                    </div>
                                    <h4  class="mt-0 font-weight-bold mb-2" *ngIf="(data.status=='Pending')" style="color: rgb(255, 196, 0);">Status:{{data.status}}</h4>
                                    <h4  class="mt-0 font-weight-bold mb-2" *ngIf="(data.status=='Approved')" style="color: rgb(89, 233, 5);">Status:{{data.status}}</h4>
                                    <h4 class="mt-0 font-weight-bold mb-2"  *ngIf="(data.status=='Rejected')" style="color: rgb(235, 11, 11);">Status:{{data.status}}</h4>
                                </div><img [src]="data.imageUrl" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                            </div> 
                        </li> 
                    
                       
                    </ul> 
            </div>
        </div>
      
          </div>
            


-->
