<app-header pageTitle="Home"></app-header>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >

<script defer src="/__/firebase/8.10.0/firebase-auth.js"></script>








<div fxLayoutGap ="50px"  fxLayout="column wrap" >

  <div fxLayoutAlign= "center center"  fxLayoutGap ="10px" fxFlex="50%">
  <mat-label >Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </div>
<div fxLayoutAlign= "start center" fxLayout="row" fxLayoutGap ="10px" fxFlex="50%">

  <mat-label>Category</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
</div>

</div>










<!---

<mat-form-field fxLayoutAlign="center center" appearance="standard" >
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field >
<div   fxLayout="column wrap" fxLayoutAlign="center center" >

<div  class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row._id}} </mat-cell>
  </ng-container>

      <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
          <mat-cell *matCellDef="let row" > {{row.category}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
          </ng-container>
     

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

</div>

-->