
<!---
<div  fxLayout="row wrap" >
  <app-header fxFlex="100%" pageTitle="Home"></app-header>
  <mat-divider></mat-divider>

  <div class="search-hero" fxLayoutAlign="center center" style="height:100px; background-color: #00ffff;"fxLayout="row wrap" fxFlex="100%">
    <mat-form-field style="width: 80%" floatLabel='never'>
      <input  
             matInput 
             [(ngModel)]="searchText" 
             placeholder="Search" 
             autocomplete="off" >
    </mat-form-field>
  </div>

  <div style="height:700px;width: 20px;" fxFlex="20%" fxLayout="row wrap" fxLayoutAlign = "center">
    <section class="example-section" [formGroup]="toppings">
      <h4>Category:</h4>
      <p><mat-checkbox formControlName="Fashion">Fashion</mat-checkbox></p>
      <p><mat-checkbox formControlName="Electronics">Electronics</mat-checkbox></p>
      <p><mat-checkbox formControlName="Food">Food</mat-checkbox></p>
    </section>
  </div>
  

  <div  fxLayoutAlign="flex-start" fxLayoutGap="12px" fxLayout="row wrap"   fxFlex="60%" >

           <button class="border" style = "cursor: pointer; height:300px"fxLayoutAlign="flex-center" fxLayout="column " fxFlex="20%" *ngFor="let data of members | search:searchText"(click)="product('product',data._id)" >
              
              <div fxLayoutAlign="center center" fxFlex=50%>
                <img style="width:130px;height:130px;" [src]=data.imageUrl>
             </div>
             <div fxLayoutAlign="center center" fxLayout="column"fxLayoutGap ="1px" fxFlex=50%>
                <div class="p4">{{data.name}}</div>
                <div class="p3">RM:{{data.price}}</div>
                <ngb-rating class="star"  [max]="5" [(rate)]="rating" [readonly]="true"></ngb-rating>

          -->    <!-- <ngb-rating [(rate)]="currentRate"></ngb-rating> 

            </div>
          </button>
      </div>
    <div *ngIf="cartOpen" fxLayoutAlign="end center" >
      <app-cart #cart></app-cart>
    </div>

</div>
-->
<div id="navbar">
  <div class="container">
      <div fxLayout="column">
          <ul class="largenav pull-right">
              <li fxFlexLayoutAlign="center center" ><a class="links" href="http://clashhacks.in/">Login & SignUp</a></li>
             
              <li class="upper-links dropdown"><a class="links" href="">More</a>
                  <ul class="dropdown-menu">
                      <li class="profile-li"><a class="profile-links" href="">Contact Us</a></li>
                      <li class="profile-li"><a class="profile-links" href="">Advertise</a></li>
                  </ul>
              </li>
          </ul>
      </div>
      <div class="row row2">
          <div fxLayoutAling="flex-start" class="col-sm-2">
              <h1 style="margin:0px;"><span class="largenav">BBBSTR </span></h1>
          </div>
          <div class="navbar-search smallsearch col-sm-8 col-xs-11">
              <div class="row"> <input class="navbar-input col-xs-11" type="" placeholder="Search for Products, Brands and more" name=""> <button class="navbar-button col-xs-1"> <svg width="15px" height="15px">
                          <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                      </svg> </button> </div>
          </div>
          <div class="cart largenav col-sm-2"> <a class="cart-button"> <svg class="cart-svg " width="16 " height="16 " viewBox="0 0 16 16 ">
                      <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#fff "></path>
                  </svg> Cart <span class="item-number ">2</span> </a> </div>
      </div>
  </div>
</div>




