@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.btn {
    border-radius: 25px
}

.new {
    font-size: 12px
}

.card {
    padding: 20px;
    border: none
}

.active {
    background: #f6f7fb !important;
    border-color: #f6f7fb !important;
    color: #000 !important;
    font-size: 12px
}

.inputs {
    position: relative
}

.form-control {
    text-indent: 15px;
    border: none;
    height: 45px;
    border-radius: 0px;
    border-bottom: 1px solid #eee
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eee;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid blue
}

.form-control:focus {
    color: blue
}

.inputs i {
    position: absolute;
    top: 14px;
    left: 4px;
    color: #b8b9bc
}

.star {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    margin-right: 10px;
    border-radius: 5px
}

.time-text {
    font-size: 12px;
    color: #989898
}

.dots {
    height: 7px;
    width: 7px;
    background-color: #eee;
    display: flex;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px
}

.yellow {
    color: #ffab2e
}

.content-text-1 {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffe7cc;
    color: #ffa03a;
    font-weight: 700
}

.blue {
    color: #6ecce6
}

.content-text-2 {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e2f5fa;
    color: #6ecce6;
    font-weight: 700
}

.dark-blue {
    color: #572ce8
}

.content-text-3 {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #572ce86b;
    color: #572ce8;
    font-weight: 700
}

  .toolbar{
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #909190 0%, #141414 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2d2e2c), to(#0e0e0d));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #55dd2c 0%, #abe93a 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,82,1) 100%, rgba(0,212,255,1) 100%);

}

.header2 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}


